<body>
    <section class="modal">
        <div class="modal-container">
            <h2 class="title"><b>G. DOCUMENTAL ESENTTIA</b></h2>
            <ul class="list">
                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="first" checked/>
                    <label for="first" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">Contrato.</span>
                  </label>
                </li>

                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="second" />
                    <label for="second" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">Pólizas.</span>
                  </label>
                </li>

                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="third" />
                    <label for="third" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">ANS.
                    </span>
                  </label>
                </li>

                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="third" checked/>
                    <label for="third" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">Matriz riesgo del contrato.
                    </span>
                  </label>
                </li>

                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="third" checked/>
                    <label for="third" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">Procedimientos.
                    </span>
                  </label>
                </li>
            </ul>
            <a href="http://localhost:4200/pages/productos" class="close">&times;</a>
        </div>
    </section>
</body>