<p class="road">Operaciones</p><br>
<hr><br><br>

<div class="body1">


    <div class="container">
        <!--       1st Card -->
        <a routerLink="/pages/operaciones">
            <div class="card card-1">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <br>
                    <h2><b>Transporte Exportación</b></h2>
                </div>
            </div>
        </a>

        <!--          2nd Card (Repeat above)  -->
        <a routerLink="/pages/timportacion">
            <div class="card card-2">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <br>
                    <h2><b>Transporte Importación</b></h2>
                </div>
            </div>
        </a>

        <!--          3nd Card (Repeat above)  -->
        <a routerLink="/pages/operaciones">
            <div class="card card-3">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <br><br>
                    <h2><b>CEDI</b></h2>
                </div>
            </div>
        </a>

        <a routerLink="/pages/invbodega">
            <div class="card card-4">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <br>
                    <h2><b>Inventario de Contenedores</b></h2>
                </div>
            </div>
        </a>
    </div>



</div>