<p class="road">Operaciones</p><br>
<hr><br><br>

<div class="body1">


    <div class="container">
        <!--       1st Card -->
        <a href="http://localhost:4200/pages/transporte">
            <div class="card card-1">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <span class="date">Recurso Uno</span>
                    <h2><b>Equipo transporte</b></h2>

                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                    <div class="stats">
                        <div class="value">14 Personas</div>

                    </div>
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                </div>
            </div>
        </a>

        <!--          2nd Card (Repeat above)  -->
        <a href="http://localhost:4200/pages/hse">
            <div class="card card-2">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <span class="date">Recurso Dos</span>
                    <h2><b>Equipo <br>HSE</b></h2>

                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                    <div class="stats">
                        <div class="value">9 Personas</div>

                    </div>
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                </div>
            </div>
        </a>

        <!--          3nd Card (Repeat above)  -->
        <a href="http://localhost:4200/pages/cedi">
            <div class="card card-3">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <span class="date">Recurso Tres</span><br>
                    <h2><b>Equipo <br>CEDI</b></h2>
                    <p></p>
                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                    <div class="stats">
                        <div class="value">15 Personas</div>

                    </div>
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                </div>
            </div>
        </a>

        <a href="http://localhost:4200/pages/sfisica">
            <div class="card card-3">
                <div class="card-image">
                </div>
                <div class="card-text">
                    <span class="date">Recurso Tres</span><br>
                    <h2><b>Equipo <br>Seguridad Fisica</b></h2>
                    <p></p>
                </div>
                <div class="card-stats">
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                    <div class="stats">
                        <div class="value">9 Personas</div>

                    </div>
                    <div class="stats">
                        <div class="value"></div>
                        <div class="type"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>



</div>