<div class="bodyview">

    <div class="diviporcen">
        <h2><b>Vista General del proyecto</b></h2><br>

        <figure class="chart" data-percent="15">
            <figcaption>15%</figcaption><br>
            <h3>Avances Proyecto</h3>
            <svg width="200" height="200">
              <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

    </div>


    <section class="container">



        <!-- Chart -->
        <a href="http://localhost:4200/pages/historial_venta">
            <figure class="chart" data-percent="25">
                <figcaption>25%</figcaption><br>
                <h3>Flota dedicada</h3><br>
                <div class="textu">25/50</div>
                <svg width="200" height="200">
              <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
            </svg>
            </figure>


        </a>

        <!-- Chart -->
        <figure class="chart" data-percent="10">
            <figcaption>10%</figcaption><br>
            <h3>TTHH</h3><br>
            <div class="textu">10/40</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

        <!-- Chart -->
        <figure class="chart" data-percent="75">
            <figcaption>75%</figcaption><br>
            <h3>Gestión Documental</h3><br>
            <div class="textu">10/15</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

        <!-- Chart -->
        <figure class="chart" data-percent="100">
            <figcaption>100%</figcaption><br>
            <h3>Camiones</h3><br>
            <div class="textu">10/10</div>
            <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>



    </section>

    <iframe class="grafit" width="1200" height="600" src="https://lookerstudio.google.com/embed/reporting/bfb96c6e-15bd-44dd-82a0-19f989089ea6/page/p_4o1y5mmq8c" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>