<div class="full">
    <h1 class="main-title">
        <span class="span1">Social Media Statistics I:</span>
        <span class="span2">Number of Users *</span>
        <span class="span3">(Source: <a href="http://blog.tweetsmarter.com/social-media/spring-2012-social-media-user-statistics/">Tweetsmarter</a> | * in millions)</span>
    </h1>
    <div class="container">
        <div class="bars">

            <div class="persp5">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back"></figure>
                <div class="face data-y">11.7</div>
                <div class="face data-x"></div>

            </div>

            <div class="persp4">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back"></figure>
                <div class="face data-y">150</div>
                <div class="face data-x"></div>

            </div>

            <div class="persp3">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back"></figure>
                <div class="face data-y">170</div>
                <div class="face data-x"></div>

            </div>

            <div class="persp2">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back"></figure>
                <div class="face data-y">555</div>
                <div class="face data-x"></div>
            </div>

            <div class="persp1">
                <figure class="face top"></figure>
                <figure class="face front"></figure>
                <figure class="face left"></figure>
                <figure class="face right"></figure>
                <figure class="face back"></figure>
                <div class="face data-y">901</div>
                <div class="face data-x"></div>
            </div>
        </div>

        <div class="base"></div>
    </div>
    <div class="subtitle">
        <ul class="list-social">
            <li class="fb">Facebook</li>
            <li class="twt">Twitter</li>
            <li class="gp">Google Plus</li>
            <li class="lkd">Linkedin</li>
            <li class="pin">Pinterest</li>
        </ul>
    </div>