<p class="road">Dashboard</p><br>
<hr>
<div class="bodyview">

    <div class="diviporcen">
        <h2><b>Vista General del Proyecto</b></h2><br>

        <figure class="chart" data-percent="15">
            <figcaption>15%</figcaption><br>
            <div class="textu"> Avances Proyecto </div>
            <svg width="200" height="200">
              <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
        </figure>

    </div>


    <section class="container">



        <!-- Chart -->
        <!-- historial venta -->
        <a href="http://localhost:4200/pages/historial_venta">
            <figure class="chart" data-percent="25">
                <figcaption>28%</figcaption><br>

                <div class="textu">Flota Dedicada</div>
                <svg width="200" height="200">
              <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
            </svg>
            </figure>
        </a>


        <!-- Chart -->
        <!-- modal1 -->
        <a href="http://localhost:4200/pages/modal1">
            <figure class="chart" data-percent="10">
                <figcaption>10%</figcaption><br>
                <div class="textu">TTHH</div>
                <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
            </figure>
        </a>



        <!-- Chart -->
        <a href="http://localhost:4200/pages/documentos">
            <figure class="chart" data-percent="75">
                <figcaption>75%</figcaption><br>
                <div class="textu">G. Documental</div>
                <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
            </figure>
        </a>

        <!-- Chart -->
        <a href="http://localhost:4200/pages/seguridad">
            <figure class="chart" data-percent="50">
                <figcaption>50%</figcaption><br>
                <div class="textu">Seguridad</div>
                <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
          </svg>
            </figure><br><br><br><br><br><br>
        </a>
        <h2><b>Time Line del Proyecto</b></h2>

    </section>

    <img class="timeline" src="/assets/timeline.svg" alt="">


</div>