<body>
    <section class="modal">
        <div class="modal-container">
            <img class="modal-img" src="https://i.ibb.co/gTkfsLT/13741343-2011-i201-035-car-ownership-usage-isometric-prev-ui-1.png" alt="13741343-2011-i201-035-car-ownership-usage-isometric-prev-ui-1" border="0">
            <h2 class="title"><b>TTHH ESENTTIA</b></h2>
            <h3 class="title">27/60</h3>
            <a routerLink="/pages/usuarios">
                <p class="paragraph">VER MAS</p>
            </a>
            <a routerLink="/pages/productos" class="close">&times;</a>
        </div>
    </section>
</body>