<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">





<div class="body">
    <!-- Vertical Timeline -->
    <p class="road">Licitación Nro.10006489</p>
    <hr> <br><br>
    <section id="conference-timeline">
        <div class="timeline-start">Etapas del proyecto</div>
        <div class="conference-center-line"></div>
        <div class="conference-timeline-content">
            <!-- Article -->
            <div class="timeline-article">

                <div class="content-left-container">
                    <div class="content-left">
                        <p><b>Planeación</b>
                            <span class="article-number">01</span>
                        </p>
                    </div>

                </div>

                <div class="content-right-container">
                    <div class="content-right">
                        <p><b>Estructura organizacional</b><span class="article-number">02</span></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">25</span>
                    <span class="month">AGO</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p><b>Recurso transporte</b><span class="article-number">03</span></p>
                    </div>

                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p><b>CEDI</b><span class="article-number">04</span></p>
                    </div>

                </div>
                <div class="meta-date">
                    <span class="date">25</span>
                    <span class="month">SEP</span>
                </div>
            </div>
            <!-- // Article -->

            <!-- Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p><b>Seguridad fisica</b><span class="article-number">05</span></p>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p><b>Seguridad informática</b><span class="article-number">06</span></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">05</span>
                    <span class="month">OCT</span>
                </div>
            </div>
            <!-- // Article -->
            <div class="timeline-article">
                <div class="content-left-container">
                    <div class="content-left">
                        <p><b>Patio</b><span class="article-number">07</span></p>
                    </div>
                </div>
                <div class="content-right-container">
                    <div class="content-right">
                        <p><b>OnBoarding</b><span class="article-number">08</span></p>
                    </div>
                </div>
                <div class="meta-date">
                    <span class="date">15</span>
                    <span class="month">OCT</span>
                </div>
            </div>
        </div>
        <div class="timeline-end">Inicio de operaciones<br>(01/11/2023)</div> <br>
        <mat-list-item class="linki" routerLink="/pages/anticipado">
            <div class="timeline-end1">Inicio <br>anticipado</div>
        </mat-list-item>
    </section>
    <br><br> <br><br>
    <!-- // Vertical Timeline -->
</div>




<!-- // Vertical Timeline -->